/* Color Palette
#a9e5bb - color 1
#fcf6b1 - color 2
#f7b32b - color 3
#f72c25 - color 4
#2d1e2f - color 5
*/
/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: #2d1e2f;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}
h3 {
  font-size: 1.2rem;
  font-weight: 300;
}


/* Header & Footer 
------------------------------------*/
header {
  background-color: #2d1e2f;
  color: #fcf6b1;
}

/* Footer */
footer {
  background-color: #f72c25;
  color: #fcf6b1;
  text-align: center;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background-color: #f7b32b;
  color: #2d1e2f;
}


/* Education
------------------------------------*/
.education {
  background-color: #fcf6b1;
  color: #fcf6b1;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.content-info a {
  padding: 10px;
  display: inline-block;
}

.profile-pic {
  border-radius: 50%;
}

header h1,
header h2 {
  margin: 0;
}

.column-narrow {
  width: 30%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}

.column-wide {
  width: 70%;
  float: left;
  min-height: 225px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2d1e2f; /* or any color you’re using */
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

.education {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url('../files/forest.jpg');
  background-size: cover;
  background-position: center;
}